{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="spacer"></div>
  <h3 class="center"><a class="text-white button" href="javascript:window.history.back();">back</a></h3>
  <div class="spacer"></div>
  <div class="page80 center">
    {% if check == 'img' %}
      {% if size == 'wide' %}
      <img style="width:90%;" src='static/images/served/out{{query}}.jpg'>
      {% else %}
      <img style="height:70vh;" src='static/images/served/out{{query}}.jpg'>
      {% endif %}
    {% else %}
      {% if size == 'wide' %}
        {% if scale == 's' %}
        <video controls width="320px"><source src="static/images/served/out{{query}}.mp4" type="video/mp4">
        {% else %}
        <video controls width="90%"><source src="static/images/served/out{{query}}.mp4" type="video/mp4">
        {% endif %}
      {% else %}
        {% if scale == 's' %}
        <video controls height="30vh"><source src="static/images/served/out{{query}}.mp4" type="video/mp4">
        {% else %}
        <video controls height="70vh"><source src="static/images/served/out{{query}}.mp4" type="video/mp4">
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
